:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.card {
  width: 200px;
  min-height: 200px;
  border: 5px solid;
  text-align: center;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
}

.plant-image {
  width: 180px;
  display: block;
  margin: 0 auto;
}

.container {

  display: flex;
  flex-basis: 10em ;
  flex-flow: row wrap;
  max-width: 100%;
  min-width: 50%;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}
