.nav-link{
    display: inline-block;
    box-sizing: border-box;
    width: 120px;
    height: 30px;
    padding: 5px;
    margin: 0 6px 6px;
    background: green;
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: white;
}

.active {
    color: yellow;
}



.new-plant-form {
    font-family: 'times new roman';
    color: blue;
    text-shadow: 0 0 5px yellow;
    font-size: 2rem;
  }


.new-plant-form input {
    background-color: blueviolet;
}

.new-plant-form select{
    background-color: blueviolet;
}

.new-plant-form{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    border: 5px solid #3a04539f;
    border-radius: 60px;
    box-shadow: 0 0 20px rgb(65, 21, 116);
    
  }

.footer {
    background-color: blue;
}