.layout {
    display: flex;
    flex-direction: column;
}
  
.footer {
    background: #03624f;
    color: white;
    text-align: center;
    font-size: 55%;
    font-style: italic;
    padding: 40px;
    margin-top: 20px;
}