* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(255, 253, 241, 0.404)
}

#header-img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    opacity: 90%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    background: #03624f;
    padding: 5px;
  }

.nav-link {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: "Marcellus";
    font-weight: bold;
    font-size: min(10vw, 17px);
    background: #03624f;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #053f2e;
}

.active {
    background-color: #053f2e;
}
