#home-container {
    display: flex;
    flex-direction: column;
}

.home-info {
    display: flex;
    flex-direction: row;
    padding: 10px 15%;
    font-family: "Marcellus";
    max-width: 100%;
}
.home-info img {
    min-width: 350px;
    object-fit: contain;
}

.home-info:hover img {
    transform: rotate(5deg);
    animation: rock 0.5s ease-in-out infinite alternate;
}

.home-info h2 {
    padding: 10% 0 0 15%;
    font-family: "Fredericka the Great";
    font-size: 2em;
    color: #383832;
}

.home-p {
    /* background-color: rgba(0, 0, 0, 0.315); */
    margin: auto 40px;
    padding: 2px 5px 5px 0;
    background: linear-gradient(to right, white, #383832);
    /* background: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)); */
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

.home-p p {
    max-width: fit-content;
    font-family: "Marcellus";
    text-align: center;
    padding: 80px 40px;
    background: white;
     
    border: 10px solid transparent; 
    border-image: linear-gradient(45deg,  #b7705c, #136f63) 1;
    border-image-slice: 1; 
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

@keyframes rock {
    to {
      transform: rotate(-5deg); 
    }
  }