:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.card {
  order: 2;
  width: 200px;
  min-height: 200px;
  border: 5px solid;
  border-color: #668a5a;
  text-align: center;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  font-family: 'Fredericka the Great';
  color: #b7705c;
}

.card p{
  font-family: "Marcellus";
}

.user_card {
  /* width: 300px;
  min-height: 200px;
  border: 5px solid;
  text-align: center;
  padding: 10px;
  margin: 15px;
  border-radius: 5px; */
  width: 200px;
  min-height: 200px;
  border: 5px solid;
  border-color: #668a5a;
  text-align: center;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  font-family: 'Marcellus';
  color: #b7705c;
}

.user_card h4{
  font-family: 'Fredericka the Great';
}



.plant-image {
  width: 180px;
  display: block;
  margin: 0 auto;
}

.owner-card{
  order: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dotted;
  border-color: #136f63 ;
  max-width: 15%;
  font-family: 'Marcellus' ;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  color: #136f63;
}

.owner-card button{
  background-color: #668a5a;
  color: #eece96;
  font-family: 'Marcellus';
  width: 7rem;
  height: 3.2rem;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
}

.owner-card button:hover {
  background-color: #b7705c;
  cursor: pointer; 
}



.container {

  display: flex;
  /* flex-basis: 10em ; */
  flex-flow: row wrap;
  max-width: 100%;
  min-width: 50%;
  justify-content: center;
  /* flex-direction: row; */
  align-items: flex-start;
}

/* .form-container{
  display: flex;
  flex-basis: 10em ;
  flex-flow: row wrap;
  max-width: 100%;
  min-width: 50%;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
} */

.title {
  font-family: 'Fredericka the Great';
  padding-bottom: 25px;
  padding-top: 15px ;
  font-size: 3rem;
  color:#668a5a;
  /* text-decoration: underline #136f63 dotted; */
  
}

.title {
  text-align: center;
}

.form-submit {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 15px;
  position: relative;
  background-color: lightgreen;
}

button.join-now {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 15px;
  position: relative;
  background-color: #f1807e;
  isolation: isolate;
}

button.join-now::before {
  content: "";
  position: absolute;
  background-color: #f70d1a;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  transition: left 650ms ease-out;

  z-index: -1;
}

button.join-now:hover::before {
  left: 0;
}